.auth-form{width: 40%;margin: 0px auto;}
.pure-form .pure-group input{width: 100%;}
.flash-message{background: #42B4FF;padding: 0.3em 1em;border-radius: 3px;color: #fff;width: 38%;margin: 0 auto;}
.profile{float: right}
.pure-form .pure-group .post-text{width: 100%;border-top-left-radius: 0;border-top-right-radius: 0;height: 150px;}

.post{width: 100%;}
    .post .pure-menu{width: 40%;letter-spacing: 0em;margin: 0px auto;}
    .post .author{cursor: pointer;font-weight: bold;}
    .post .text{margin: 20px;}
    .post-item{}